.looks {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}

div.relative_body {
    position: relative;
    width: 240px;
    height: 180px;
    left: 160px;
    top: 100px;
    border: 1px solid black
}
div.absolute_body_11 {
    position: absolute;
    top: 0px;
    left:40px;
    background-color: red;
}
div.absolute_body_12 {
    position: absolute;
    top: 0px;
    left:60px;
    background-color: red;
}
div.absolute_body_13 {
    position: absolute;
    top: 0px;
    left:80px;
    background-color: blue;
}
div.absolute_body_14 {
    position: absolute;
    top: 0px;
    left:100px;
    background-color:red;
}
div.absolute_body_15 {
    position: absolute;
    top: 0px;
    left:120px;
    background-color:red;
}
div.absolute_body_16 {
    position: absolute;
    top: 0px;
    left:140px;
    background-color:blue;
}
div.absolute_body_17 {
    position: absolute;
    top: 0px;
    left:160px;
    background-color:red;
}
div.absolute_body_18 {
    position: absolute;
    top: 0px;
    left:180px;
    background-color:red;
}
div.absolute_body_19 {
    position: absolute;
    top: 20px;
    left:20px;
    background-color: red;
}
div.absolute_body_20 {
    position: absolute;
    top: 20px;
    left:40px;
    background-color: red;
}
div.absolute_body_21 {
    position: absolute;
    top: 20px;
    left:60px;
    background-color: red;
}
div.absolute_body_22 {
    position: absolute;
    top: 20px;
    left:80px;
    background-color:blue;
}
div.absolute_body_23 {
    position: absolute;
    top: 20px;
    left:100px;
    background-color:red;
}
div.absolute_body_24 {
    position: absolute;
    top: 20px;
    left: 120px;
    background-color:red;
}
div.absolute_body_25 {
    position: absolute;
    top: 20px;
    left:140px;
    background-color:blue;
}
div.absolute_body_26 {
    position: absolute;
    top: 20px;
    left:160px;
    background-color:red;
}
div.absolute_body_27 {
    position: absolute;
    top: 20px;
    left:180px;
    background-color:red;
}
div.absolute_body_28 {
    position: absolute;
    top: 20px;
    left:200px;
    background-color:red;
}
div.absolute_body_29 {
    position: absolute;
    top: 40px;
    left:0%;
    background-color: red;
}
div.absolute_body_30 {
    position: absolute;
    top: 40px;
    left:20px;
    background-color: red;
}
div.absolute_body_31 {
    position: absolute;
    top: 40px;
    left:40px;
    background-color: red;
}
div.absolute_body_32 {
    position: absolute;
    top: 40px;
    left:60px;
    background-color:red;
}
div.absolute_body_33 {
    position: absolute;
    top: 40px;
    left:80px;
    background-color:blue;
}
div.absolute_body_34 {
    position: absolute;
    top: 40px;
    left: 100px;
    background-color:blue;
}
div.absolute_body_35 {
    position: absolute;
    top: 40px;
    left:120px;
    background-color:blue;
}
div.absolute_body_36 {
    position: absolute;
    top: 40px;
    left:140px;
    background-color:blue;
}
div.absolute_body_37 {
    position: absolute;
    top: 40px;
    left:160px;
    background-color:red;
}
div.absolute_body_38 {
    position: absolute;
    top: 40px;
    left:180px;
    background-color:red;
}
div.absolute_body_39 {
    position: absolute;
    top: 40px;
    left:200px;
    background-color:red;
}
div.absolute_body_40 {
    position: absolute;
    top: 40px;
    left:220px;
    background-color:red;
}
div.absolute_body_41 {
    position: absolute;
    top: 60px;
    left:0%;
    background-color: yellow;
}
div.absolute_body_42 {
    position: absolute;
    top: 60px;
    left:20px;
    background-color: yellow;
}
div.absolute_body_43 {
    position: absolute;
    top: 60px;
    left:40px;
    background-color: red;
}
div.absolute_body_44 {
    position: absolute;
    top: 60px;
    left:60px;
    background-color:blue;
}
div.absolute_body_45 {
    position: absolute;
    top: 60px;
    left:80px;
    background-color:yellow;
}
div.absolute_body_46 {
    position: absolute;
    top: 60px;
    left: 100px;
    background-color:blue;
}
div.absolute_body_47 {
    position: absolute;
    top: 60px;
    left:120px;
    background-color:blue;
}
div.absolute_body_48 {
    position: absolute;
    top: 60px;
    left: 140px;
    background-color:yellow;
}
div.absolute_body_49 {
    position: absolute;
    top: 60px;
    left:160px;
    background-color:blue;
}
div.absolute_body_50 {
    position: absolute;
    top: 60px;
    left:180px;
    background-color:red;
}
div.absolute_body_51 {
    position: absolute;
    top: 60px;
    left:200px;
    background-color:yellow;
}
div.absolute_body_52 {
    position: absolute;
    top: 60px;
    left:220px;
    background-color:yellow;
}






