* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu_principal {
    display: flex;
    background-color: #ccc;
    justify-content: left;
    padding-top: 20px;
    padding-left: 30px;
}

.menu_principal_item {
    list-style: none;
    padding-right: 25px;
}

.sub_menu_item {
    display: none;
    padding-top: 10px;
    list-style: none;
    background-color: #ccc;
}

.menu_principal_item:active .sub_menu_item {
    display: block;
}

.navegador_lateral_esquerdo {
    height: 300px;
    width: 20%;
    background-color: #ccc;
}

.menu_esquerdo li {
    padding-top: 15px;
}

.botao {
    margin-left: 600px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    box-shadow: 3px 3px black;
}

@media screen and (max-width:600px) {
    .navegador_lateral_esquerdo {
        height: 50px;
        width: 100%;
        background-color: ccc;
    }

    .menu_esquerdo {
        width: 250px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 15px;
    }
}

.loading-bar {
    width: 300px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.progress {
    width: 50px;
    height: 100%;
    background-color: #007bff;
    animation: progressAnimation 1s ease-in-out infinite;
    position: relative;
    animation-timing-function: linear;
    /* Adiciona a animação infinita */
}

@keyframes progressAnimation {
    from{left: 0px;}
    to{left:250px}
    
   /** 0% {
        width: 25%;
    }

    25% {
        width: 25%;
        margin-left: 75%;
    }

    50% {
        width: 25%;
        margin-left: 75%;
    }

    75% {
        width: 25%;
        margin-left: 75%;
        }

    100% {
        margin-left: 100%;
        width: 0%;
    }
    **/
}